.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #c1c1c1;
  width: 400px;
  height: 50px;
  margin-bottom: 2px;
  box-shadow: -1px -1px 0 1px #7e7e7e, 0 0 0 2px white;
}

.smile {
  width: 40px;
  height: 40px;
  margin: auto 0;
  background: url('../../assets/image/minesweeper-sprites_9TPZzv3.png');
  background-size: 215px 130px;
  background-position: -1px -39px;
  cursor: pointer;
}

.smile.lose {
  background-position: -169px -39px;
}

.smile.win {
  background-position: -127px -39px;
}

.smile-clicked {
  background-position: -85px -39px;
}

.smile:active {
  background-position: -43px -39px;
}

.mine,
.timer {
  display: flex;
  margin: auto 10px;
}

.pos {
  width: 20px;
  height: 35px;
  background: url('../../assets/image/minesweeper-sprites_9TPZzv3.png');
  background-size: 215px 130px;
}

.pos-0 {
  background-position: -195px 0px;
}

.pos-1 {
  background-position: 0 0;
}

.pos-2 {
  background-position: -22px 0px;
}

.pos-3 {
  background-position: -43px 0px;
}

.pos-4 {
  background-position: -65.5px 0px;
}

.pos-5 {
  background-position: -87px 0px;
}

.pos-6 {
  background-position: -108px 0px;
}

.pos-7 {
  background-position: -130px 0px;
}

.pos-8 {
  background-position: -152px 0px;
}

.pos-9 {
  background-position: -173px 0px;
}