.cell {
  width: 25px;
  height: 25px;
  background: url('../../../assets/image/minesweeper-sprites_9TPZzv3.png') no-repeat;
  background-size: 215px 130px;
  background-position: 0 -79px;
  cursor: pointer;
}

.cell.down {
  background-position: -26.5px -79px;
}

.cell:active .smile {
  background-position: -26.5px -79px;
}

.cell.open-0 {
  background-position: -26.5px -79px;
}

.cell.open-1 {
  background-position: 0 -105px;
}

.cell.open-2 {
  background-position: -26px -105px;
}

.cell.open-3 {
  background-position: -52.5px -105px;
}

.cell.open-4 {
  background-position: -78px -105px;
}

.cell.open-5 {
  background-position: -105px -105px;
}

.cell.open-6 {
  background-position: -131px -105px;
}

.cell.open-7 {
  background-position: -157px -105px;
}

.cell.open-8 {
  background-position: -184px -105px;
}

.cell.open-mine {
  background-position: -131.5px -79px;
}

.cell.flag-1 {
  background-position: -52px -79px;
}

.cell.flag-2 {
  background-position: -78px -79px;
}

.cell.activate-mine {
  background-position: -157px -79px;
}

.cell.lose {
  cursor: auto;
}

.cell.wrong {
  background-position: -184px -79px;
}