.wrapper-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  border: 10px solid #bebebe;
  box-shadow: 1px 1px 0px 1px #7e7e7e;
}

.transfer {
  width: 400px;
  height: 20px;
  background-color: #bebebe;
}